body {
    font-family: "Robo Sans", "Arial", sans-serif;
    margin: 0;
    line-height: 1.4;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h2 {
    font-size: 1.1em;
    background: #eee;
    padding: 5px;
    margin: 10px 0;
}

a {
    color: #136e90;
    text-decoration: none;
}

a:hover {
    color: #1b9dd0;
}

a.active {
    color: #000;
}

li {
    list-style: none;
    padding: 4px 0;
}

ul {
    padding-left: 15px;
}

ul ul {
    display: none;
    background: #f5f5f5;
    padding: 10px;
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 3px;
}

ul ul li {
    padding: 5px;
    background: #fff;
    margin: 10px 0;
}

ul li.expanded ul {
    display: block;
}

li.expanded {
    margin-bottom: 3px;
}

#ghidorah {
    background: #fff;
    z-index: 1000;
    overflow: scroll;
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 10px;
}

#ghidorah-heading {
    padding: 5px;
    border-radius: 5px;
    color: #75a637;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}

#filter-select {
    background: #1b9dd0;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 100%;
    color: #fff;
}

.spacer {
    height: 10px;
}

.task-link {
    padding-left: 5px;
}

.story-subtask-count {
  display: inline-block;
  width: 25px;
  height: 18px;
  border: 1px solid #1b9dd0;
  border-radius: 3px;
  color: #1b9dd0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  box-sizing: border-box;
}

.story-subtask-count:hover {
    background: #1b9dd0;
    color: #fff;

}

.no-stories {
    color: #ccc;
    border: 1px solid #ccc;
}

.no-stories:hover {
    color: #ccc;
    border: 1px solid #ccc;
    background: #fff;
}

.estimate-totals {
    display:none;
    font-size: 16px;
}

.show-details .estimate-totals {
    display: block;
}

.details {
    font-size: 12px;
    color: #666;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}


.show-details .details {
    height: 20px;
}

.details .assignee {
    display: inline-block;
    width: 50%;
}

.details .estimated, .details .logged, .details .remaining {
    display: inline-block;
    width: 25%;
}

.details-checkbox {
    float: right;
    width: 12px;
    height: 12px;
    margin-top: 7px;
}

li.estimate-totals span {
  color: #666;
  padding-right: 10px;
  font-size: 12px;
}

.option-label {
    height: 20px;
    background: #fff;
    display: inline-block;
    float: right;
    margin-top: 3px;
    color: #ccc;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.8px;
    font-weight: normal;
    border-radius: 3px;
    padding: 0 9px;
    cursor: pointer;
    transition: background 0.3s;
}

.option-label.active {
    background: #1b9dd0;
    color: #fff;
}

.option-label input {
    display: none;
}
